<h1>Questions#edit</h1>
<p>Find me in app/views/questions/edit.html.erb</p>
<%= form_with model:@question, local: true do |f| %>
  <label>Title</label>
  <%= f.text_field :title %>
  <label>Content</label>
  <%= f.text_area :content %>
  <%= f.submit 'Update'  %>
<% end %>